@font-face {
    font-family: 'Cartograph CF Extra';
    src: url('CartographCF-ExtraLightItalic.eot');
    src: local('Cartograph CF Extra Light Italic'), local('CartographCF-ExtraLightItalic'),
        url('CartographCF-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-ExtraLightItalic.woff2') format('woff2'),
        url('CartographCF-ExtraLightItalic.woff') format('woff'),
        url('CartographCF-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph CF Demi';
    src: url('CartographCF-DemiBoldItalic.eot');
    src: local('Cartograph CF Demi Bold Italic'), local('CartographCF-DemiBoldItalic'),
        url('CartographCF-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-DemiBoldItalic.woff2') format('woff2'),
        url('CartographCF-DemiBoldItalic.woff') format('woff'),
        url('CartographCF-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph CF';
    src: url('CartographCF-BoldItalic.eot');
    src: local('Cartograph CF Bold Italic'), local('CartographCF-BoldItalic'),
        url('CartographCF-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-BoldItalic.woff2') format('woff2'),
        url('CartographCF-BoldItalic.woff') format('woff'),
        url('CartographCF-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph CF';
    src: url('CartographCF-Thin.eot');
    src: local('Cartograph CF Thin'), local('CartographCF-Thin'),
        url('CartographCF-Thin.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-Thin.woff2') format('woff2'),
        url('CartographCF-Thin.woff') format('woff'),
        url('CartographCF-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph CF';
    src: url('CartographCF-Bold.eot');
    src: local('Cartograph CF Bold'), local('CartographCF-Bold'),
        url('CartographCF-Bold.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-Bold.woff2') format('woff2'),
        url('CartographCF-Bold.woff') format('woff'),
        url('CartographCF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph CF';
    src: url('CartographCF-LightItalic.eot');
    src: local('Cartograph CF Light Italic'), local('CartographCF-LightItalic'),
        url('CartographCF-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-LightItalic.woff2') format('woff2'),
        url('CartographCF-LightItalic.woff') format('woff'),
        url('CartographCF-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph CF Extra';
    src: url('CartographCF-ExtraBoldItalic.eot');
    src: local('Cartograph CF Extra Bold Italic'), local('CartographCF-ExtraBoldItalic'),
        url('CartographCF-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-ExtraBoldItalic.woff2') format('woff2'),
        url('CartographCF-ExtraBoldItalic.woff') format('woff'),
        url('CartographCF-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph CF Extra';
    src: url('CartographCF-ExtraLight.eot');
    src: local('Cartograph CF Extra Light'), local('CartographCF-ExtraLight'),
        url('CartographCF-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-ExtraLight.woff2') format('woff2'),
        url('CartographCF-ExtraLight.woff') format('woff'),
        url('CartographCF-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph CF';
    src: url('CartographCF-Light.eot');
    src: local('Cartograph CF Light'), local('CartographCF-Light'),
        url('CartographCF-Light.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-Light.woff2') format('woff2'),
        url('CartographCF-Light.woff') format('woff'),
        url('CartographCF-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph CF';
    src: url('CartographCF-Heavy.eot');
    src: local('Cartograph CF Heavy'), local('CartographCF-Heavy'),
        url('CartographCF-Heavy.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-Heavy.woff2') format('woff2'),
        url('CartographCF-Heavy.woff') format('woff'),
        url('CartographCF-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph CF';
    src: url('CartographCF-RegularItalic.eot');
    src: local('Cartograph CF Italic'), local('CartographCF-RegularItalic'),
        url('CartographCF-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-RegularItalic.woff2') format('woff2'),
        url('CartographCF-RegularItalic.woff') format('woff'),
        url('CartographCF-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph CF';
    src: url('CartographCF-ThinItalic.eot');
    src: local('Cartograph CF Thin Italic'), local('CartographCF-ThinItalic'),
        url('CartographCF-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-ThinItalic.woff2') format('woff2'),
        url('CartographCF-ThinItalic.woff') format('woff'),
        url('CartographCF-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph CF Extra';
    src: url('CartographCF-ExtraBold.eot');
    src: local('Cartograph CF Extra Bold'), local('CartographCF-ExtraBold'),
        url('CartographCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-ExtraBold.woff2') format('woff2'),
        url('CartographCF-ExtraBold.woff') format('woff'),
        url('CartographCF-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph CF';
    src: url('CartographCF-HeavyItalic.eot');
    src: local('Cartograph CF Heavy Italic'), local('CartographCF-HeavyItalic'),
        url('CartographCF-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-HeavyItalic.woff2') format('woff2'),
        url('CartographCF-HeavyItalic.woff') format('woff'),
        url('CartographCF-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cartograph CF';
    src: url('CartographCF-Regular.eot');
    src: local('Cartograph CF'), local('CartographCF-Regular'),
        url('CartographCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-Regular.woff2') format('woff2'),
        url('CartographCF-Regular.woff') format('woff'),
        url('CartographCF-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cartograph CF Demi';
    src: url('CartographCF-DemiBold.eot');
    src: local('Cartograph CF Demi Bold'), local('CartographCF-DemiBold'),
        url('CartographCF-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('CartographCF-DemiBold.woff2') format('woff2'),
        url('CartographCF-DemiBold.woff') format('woff'),
        url('CartographCF-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

